.vs/
*.csproj.user
bin/
obj/
_ReSharper.Caches/
.hg/
*.csproj.vspscc
.hgignore
/RestApiProject/RestApiProject/obj/Debug/net5.0/apphost.exe
/RestApiProject/RestApiProject/bin/Debug/net5.0/RestApiProject.dll
/RestApiProject/RestApiProject/bin/Debug/net5.0/RestApiProject.exe
/RestApiProject/RestApiProject/bin/Debug/net5.0/RestApiProject.pdb
/RestApiProject/RestApiProject/bin/Debug/net5.0/RestApiProject.runtimeconfig.dev.json
/RestApiProject/RestApiProject/bin/Debug/net5.0/ref/RestApiProject.dll
/RestApiProject/RestApiProject/obj/Debug/net5.0/RestApiProject.GeneratedMSBuildEditorConfig.editorconfig
/RestApiProject/RestApiProject/obj/Debug/net5.0/RestApiProject.MvcApplicationPartsAssemblyInfo.cs
/RestApiProject/RestApiProject/obj/Debug/net5.0/RestApiProject.assets.cache
/RestApiProject/RestApiProject/obj/Debug/net5.0/RestApiProject.csproj.AssemblyReference.cache
/RestApiProject/RestApiProject/obj/Debug/net5.0/RestApiProject.csproj.CopyComplete
/RestApiProject/RestApiProject/obj/Debug/net5.0/RestApiProject.csproj.CoreCompileInputs.cache
/RestApiProject/RestApiProject/obj/Debug/net5.0/RestApiProject.csproj.FileListAbsolute.txt
/RestApiProject/RestApiProject/obj/Debug/net5.0/RestApiProject.dll
/RestApiProject/RestApiProject/obj/Debug/net5.0/RestApiProject.genruntimeconfig.cache
/RestApiProject/RestApiProject/obj/Debug/net5.0/RestApiProject.pdb
/RestApiProject/RestApiProject/obj/Debug/net5.0/ref/RestApiProject.dll
/RestApiProject/RestApiProject/obj/RestApiProject.csproj.nuget.dgspec.json
/RestApiProject/RestApiProject/obj/RestApiProject.csproj.nuget.g.props
/RestApiProject/RestApiProject/obj/project.assets.json
/RestApiProject/RestApiProject/obj/project.nuget.cache
